.typewritter {
  /* color: #fff; */
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 1px;
  animation: typing 3.5s steps(30, end) infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
